.app-section-card {
    background: #474E68;

    color: whitesmoke;
    padding: 0px 10px 10px 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
        "title  author "
        "title  duration"
        "description  creation"
        "description  button";
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.app__card-description {
    grid-area: description;
    font-size: 14px;
}

.app__card-title {
    grid-area: title;
    color:#55d862;
}

.app__card-author {
    grid-area: author;
    font-size: 14px;
    padding-left: 10%;
    margin: 4px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    height: 20px;
}

.app__card-duration {
    margin: 4px 0px;
    grid-area: duration;
    font-size: 14px;
    padding-left: 10%;
}

.app__card-creation {
    grid-area: creation;
    font-size: 14px;
    padding-left: 10%;
    margin: 4px 0px;
}

.app__button--show-course {
    grid-area: button;
    margin-top: 20px;
    padding-left: 20%;
}

