.app-common__button {
    background-color: #55c2d8;
    border-style: none;
   
    color: white;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    height: 30px;
    width: 130px;
}

.app-common__button:hover {
    background: #bbddf0;
    color: black;
}